<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consectetur eligendi quam earum, ab laborum totam
      tenetur qui, ratione numquam rerum laudantium itaque aspernatur facere corrupti explicabo molestiae tempore hic.
    </ion-card-content>


  </ion-card>
  <ion-card>
    <img src="https://as.com/meristation/imagenes/2021/03/11/opinion/1615465206_419230_1615465433_noticia_normal.jpg"
      alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consectetur eligendi quam earum, ab laborum totam
      tenetur qui, ratione numquam rerum laudantium itaque aspernatur facere corrupti explicabo molestiae tempore hic.
    </ion-card-content>
  </ion-card>
</ion-content>
